.spacer {
  flex: 1 1 auto;
}

.header {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 0 30px;
}

.search-container {
  width: 350px;
}