<a
  class="card-container"
  [routerLink]="['/countries', countryData.name.common ? countryData.name.common : countryData.name]"
>
    <div class="wrapper_img">
      <img mat-card-image [src]="countryData.flags.png" alt="Country’s flag" />
    </div>

    <div class="details">
      <span class="name">{{  countryData.name.common ? countryData.name.common : countryData.name }}</span>
      <div class="line">
        <span>Capital: </span>
        <span>{{ countryData.capital }}</span>
      </div>
      <div class="line">
        <span>Region: </span>
        <span>{{ countryData.region }}</span>
      </div>
      <div class="line">
        <span>Population: </span>
        <span> {{ countryData.population }}</span>
      </div>
    </div>
</a>
