form {
    display: flex;
    background-color: transparent;
    border-radius: 50px;
    height: 33px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 13px;
}

.icon_search {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
}


.icon_search svg {
    width: 20px;
    height: 20px;
    fill: rgb(97, 95, 95);
}